{{#partial "content"}}
    <h1>All Squads</h1>
    <div class="row">
        <ul >
        {{#if squad}}
         {{#each squad}}
         <li>{{name}}</li>
         <li>{{cause}}</li>
         <li>{{maxSize}}</li>

                        <!--<li><a href="/squadId{{id}}">{{name}}</a></li>-->
          {{/each}}
        {{/if}}

        </ul>

    </div>

{{/partial}}

{{>layout.hbs}}